[Unit]
Description=FeedNode Kiosk
After=feednode.service
Requires=feednode.service

[Service]
User=feednode
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/feednode/.Xauthority
TTYPath=/dev/tty1
StandardInput=tty
ExecStart=/usr/bin/startx /usr/local/bin/feednode-kiosk -- :0 vt1 -nolisten tcp
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
